body  {
   /* background-color:rgb(255, 255, 230);*/
   background:#FFFFFF;
    font-family: Arial,Verdana,sans-serif;
    font-size:12px;
    margin  : 0px;
    
    

}
p{
    color :gray;
    font-size: 15px;
    text-align:left;
    letter-spacing: 0.08em;
}
#topo{
    background-color: #252323;
    height: 67px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#logo{

    float: left;
    color: gray;
    font-size: 30px;
    width: 680px;
    padding-top: 14px;
    padding-left: 0px; 
    /*padding-left:30px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.cabecalho{
   
    
    
    
    background-color:#252323;
    height: 67px;
    width: 960px;
  
}
.cabecalho-img{
    float: right;
    background-color: #252323;
    height: 67px;
    width: 250px;
    
}
.rede-social{
    margin-top: 18px;
    margin-left:38px;
 }

#menu{
   
    height: 67px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid rgb(179, 155, 155);
}
.lista-menu{
    
    height: 67px;
    width: 960px;
    padding-left: 0px;
    
    

}

ul.menu-principal {
    float: left;
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top:0px;
    padding-left: 0px;
    width:736px;
    height: 67px;
    list-style-type: none;
    border-bottom: 3px solid rgb(179, 155, 155);
   
}
ul.menu-principal li{
    display:inline-block;
    text-align: center;
    
    height: 45px;
    width: 120px;
    font-size: 20px;
    color: gray;
    padding-top: 22px;
  
    
}

.menu-principal li:hover {
    border-bottom: 3px solid #006bac;
    color: #006bac;
    }
#botaoPesquisa{
    
    margin-top: 24px;
}
.textoPesquisa{
    background-color: #FFFFFF;
    float: left;
    margin-right: 7px;
}
.botaoPesquisa{
   margin-right: 0px;
}

#corpo{
   
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.corpo-principal{
    
    height: 100%;
    width: 960px;
    
    
}
#coluna1{
    
    float: left;
    width: 300px;
    margin-top: 50px;
    margin-right: 30px;
    
    
    height: 100%;
}
p.coluna1-top{
    height: 200px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
}
p.coluna1-midle{
    
    border-top:dotted gray 1px;
    height: 400px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
}
p.coluna1-foot{
  
   border-top:dotted gray 1px;
    height: 200px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
}

p.coluna2-top{
    height: 200px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
}
p.coluna2-midle{
    
    border-top:dotted gray 1px;
    height: 400px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
}
p.coluna2-foot{
    
    border-top:dotted gray 1px;
    height: 200px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
}


p.coluna3-top{
    
    height: 200px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
}
p.coluna3-midle{
    
    border-top:dotted gray 1px;
    height: 400px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
}
p.coluna3-foot{
    
    border-top:dotted gray 1px;
    height: 200px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
}


#coluna2{
    float: left;
    width: 300px;
    margin-top: 50px;
    margin-right: 30px;
   
    height: 100%;
}

#coluna3{
    float: left;
    width: 300px;
    margin-top: 50px;
    margin-right: 0px;
   
    height: 100%;
}

#rodape{
   
    border-top: 3px solid rgb(179, 155, 155);
    
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rodape-principal{
    
    height: 200px;
    width: 960px;
    font-family: Arial,Verdana,sans-serif;
    color :gray;
    font-size: 15px;
    text-align:left;
    letter-spacing: 0.08em;
    
}
.coluna01-rodape{
   
   
    float: left;
    margin-right: 30px;
    width: 300px;
    height: 100%;
}
.coluna02-rodape{
   
    float: left;
    margin-right: 30px;
    width: 300px;
    height: 100%;
}
.coluna03-rodape{
    float: left;
   
    width: 300px;
    height: 100%;
}


a{
    text-decoration: none;
    color: inherit;
}

.imagem-perfil{
    margin-right: 40px;
    margin-bottom: 20px;
}

#corpo-pag-sobre{
float: left;
width: 960px;
margin-top: 50px;

}

h2,h3{
    color :gray;
    font-family: Arial,Verdana,sans-serif;
    text-align:left;
    letter-spacing: 0.08em;
}

.form-contato-geral{
    font-size: 14px;
    color :gray;
    font-family: Arial,Verdana,sans-serif;
    text-align:left;
    letter-spacing: 0.08em;
}

.email,.form-nome,.form-msg{
    background-color: #FFFFFF;
    
}
.coluna03-rodape a:hover{
    color: #006bac;
}
.coluna03-rodape ul{
    list-style-type: none;
   margin:0;
   padding: 0;

}

